.about-page {
    padding: 20px;
    font-family: "Hubballi";
}

.team-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-member-marina,
.team-member-kristina {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.sekcija-marina,
.sekcija-kristina {
    flex: 1;
    padding: 0 20px;
    font-size: 24px;
    color: rgb(60, 60, 60);
}

.marina-text,
.kristina-text {
    text-align: justify;
    text-justify: inter-word;
}

.image {
    flex: 1;
    overflow: hidden;
}

.oNamaSlike {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
}


hr {
    margin: 20px 0;
    border: 1px solid #ccc;
}

.mission-section {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
}

.mission-text {
    flex: 1;
    padding: 0 20px;
    color: rgb(60, 60, 60);
}


@media only screen and (max-width: 900px) {

    .team-section,
    .mission-section {
        flex-direction: column;
        justify-content: space-between;
    }

    .marina-text,
    .kristina-text {
        text-align: center;
    }

    .team-member-marina,
    .mission-member {
        flex-direction: column;
    }

    .team-member-kristina{
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {

    .team-section,
    .mission-section {
        flex-direction: column;
        justify-content: space-between;
    }

    .team-member-marina,
    .mission-member {
        flex-direction: column;
    }

    .team-member-kristina{
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1400px) {

    .team-section,
    .mission-section {
        flex-direction: column;
        justify-content: space-between;
    }

    .team-member-marina,
    .mission-member {
        flex-direction: column;
    }

    .team-member-kristina{
        flex-direction: column-reverse;
    }

    img {
        width: 50%;
        height: 50%;
        object-fit: cover;
        border-radius: 50%;
    }
}